@model MovieResult

@{
    Pagination pagination = new()
    {
        Controller = "movie",
        Action = "index",
        CurrentPage = Model.Page,
        PageMax = 500,
        Range = 8
    };
}

@* on ne pas utiliser <partial name="_Pagination"> car on passe des paramètres*@
@await Html.PartialAsync("_Pagination", pagination);

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Movie movie in Model.Movies)
        {
            <tr>
                <td>@movie.OriginalTitle</td>
                <td>@movie.Overview</td>
                <td>@movie.PosterPath</td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination", pagination);


