@model CustomerForm

<form method="post" asp-antiforgery="true">

    <div>
        <label asp-for="Nom"></label>
        <input class="form-control" asp-for="Nom"/>
        <span class="text-danger" asp-validation-for="Nom"></span>
    </div>

    <div>
        <label asp-for="Prenom"></label>
        <input class="form-control" asp-for="Prenom"/>
        <span class="text-danger" asp-validation-for="Prenom"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Tel"></label>
        <input class="form-control" asp-for="Tel" />
        <span class="text-danger" asp-validation-for="Tel"></span>
    </div>

    <button class="btn btn-dark">Sauver</button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
