
<p> LA SEULE CHOSE QUE WENDIE SAVAIT FAIRE...........</p>
<p> LA SEULE CHOSE QUE WENDIE SAVAIT FAIRE...........</p>
<p> LA SEULE CHOSE QUE WENDIE SAVAIT FAIRE...........</p>
<p> WENDIE A TROUVER LES NAMES DANS LE FORM</p>
<p> Ensuite on doit faire un formulaire</p>
<p> VAS Y FAIT UN FORMULAIRE </p>
<p> A 3 BARRES JE DEMISSIONNE</p>



<form asp-action="SendMail" method="post">
	<label>Mail</label>
	<input type="email" placeholder="oh oui vasy insere ton mail" name="Email" required/>
	<label>Phone</label>
	<input type="phone" placeholder="oh oui vasy donne ton 06" name="Phone"/>
	<label>message</label>
	<textarea placeholder="Lache tout ce que tu as sur le coeur" name="Msg" required></textarea>
	<input type="submit" value="soumet toi a dieu résistez au diable et il fuira loin de toi" class="submit"></input>
</form>
<p>Ici j'ai mit un toast pour l'envois du mail</p>