<header>
    <nav>
        <ul>
            <li>
                <a asp-controller="home" asp-action="index">
                    <i class="fa fa-home"></i> Accueil
                </a>
            </li>    
            <li>
                <a asp-controller="home" asp-action="hello">
                    <i class="fas fa-comments"></i> Bonjour
                </a>
            </li> 
            <li>
                <a asp-controller="Movie" asp-action="Index">
                    <i class="fa fa-list"></i> Tous les films
                </a>
            </li>
            <li>
                <a asp-controller="Contact" asp-action="Index">
                    <i class="fa fa-envelope"></i> Formulaire
                </a>
            </li>
            <li>
                <a asp-controller="Customer" asp-action="Index">
                    <i class="fa fa-user"></i> Les Clients
                </a>
            </li>
        </ul>
    </nav>
</header>
