<header>
    <nav>
        <ul>
            <li>
                <a asp-controller="home" asp-action="index">
                    <i class="fa fa-home"></i> Accueil
                </a>
            </li>    
            <li>
                <a asp-controller="home" asp-action="hello">
                    <i class="fas fa-comments"></i> Bonjour
                </a>
            </li>    
        </ul>
    </nav>
</header>